<div>
  <h1 class="display-4"><%= t('hello') %></h1>
  <p class="lead">Crypto Wallet</p>
  <p class="lead"><%= t('message') %></p>
  <p>Data: <%= I18n.l(Date.today) %></p>
  <%= render "menu" %>
</div>